package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#useBeanValidation}}
import io.helidon.validation.Validation;
{{/useBeanValidation}}
{{#models}}
{{#model}}{{#isEnum}}
{{>enumOuterClass}}{{/isEnum}}{{^isEnum}}
{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
