{{#isQueryParam}}@Http.QueryParam("{{baseName}}"){{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}} {{^isContainer}}{{/isContainer}}{{{dataType}}} {{paramName}}{{/isQueryParam}}